<div class="gadgets">
  <h1>Welcome to My Gadgets</h1>
  <% if current_user %>
    <div><%= link_to "My gadgets", gadgets_path, class: "btn btn-primary btn-lg" %></div>
  <% else %>
    <p>Please Log in or Sign up to manage your gadgets.</p>
  <% end %>
</div>
